<div class="card-header">Szczególy robota</div>
<table class="table">
  <thead>
<!--  <tr>-->
<!--    <th scope="col">#</th>-->
<!--    <th scope="col">First</th>-->
<!--    <th scope="col">Last</th>-->
<!--    <th scope="col">Handle</th>-->
<!--  </tr>-->
  </thead>
  <tbody>
  <tr>
    <th scope="row">Online</th>
    <td>{{robot.available}}</td>
  </tr>
  <tr>
    <th scope="row">IP</th>
    <td>{{robot.robotIp}}</td>
  </tr>
  <tr>
    <th scope="row">Pozycja</th>
    <td>{{robot.pose.position.x}}, {{robot.pose.position.y}}</td>
  </tr>
  <tr>
    <th scope="row">Bateria</th>
    <td>{{robot.batteryLevel}}</td>
  </tr>
  </tbody>
</table>
