.btn-rounded{
  border-radius: 1rem;
}
.text-blue {
  color: #007bff;
}
table.table td, table.table th {
  vertical-align: middle;
}

h1 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 20px;
  margin: 0;
  resize: horizontal;
  font-size: 15px;
}
