<div class="inline-container">
  <div class="map">
    <form class="form" #corridorForm="ngForm" (ngSubmit)="saveCorridor()">
      <div class="row">
        <div class="md-form">
          <input type="text" id="inputName" class="form-control form-control-lg" required [(ngModel)]="name"
                 name="name">
          <label for="inputName" [class.active]="name && name.length > 0">Nazwa korytarza</label>
        </div>
        <div class="md-form">
          <mat-form-field>
            <mat-label>Dostępne ścieżki</mat-label>
            <mat-select [(ngModel)]="corridor.movementPathId" name="pathId">
              <mat-option [value]="null">
                Wybierz...
              </mat-option>
              <mat-option *ngFor="let path of paths" [value]="path.id">
                {{path.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    <div class="btn-group btn-group-toggle switch-container" data-toggle="buttons">
      <label class="btn btn-light form-check-label active switch" (click)="drawCorridorBoolean = false">
        <input class="form-check-input" type="radio">
        <i class="fas fa-crosshairs"></i>
        Rysuj
      </label>
      <label class="btn btn-light form-check-label switch" (click)="createCorridor()">
        <input class="form-check-input" type="radio">
        <i class="fas fa-draw-polygon"></i>
        Zakończ
      </label>
    </div>
    <button type="button" class="btn btn-light switch-container" (click)="cancelCorridor()"><i
      class="far fa-window-close"></i> Anuluj
    </button>
    <button type="submit" class="btn btn-light switch-container"
            [disabled]="!corridorForm.form.valid"><i class="far fa-save"></i>
      Zapisz
    </button>
    </form>
    <div class="map-container" id="map-container">
      <div class="map-frame">
        <div class="lds-dual-ring" [hidden]="dataLoaded"></div>
        <div id="map"></div>
      </div>
    </div>
  </div>
  <app-vertex-list [markers]="vertices" class="list"></app-vertex-list>
  <app-corridor-list
    [corridor]="corridor"
    (corridorToEdit)="editExistingCorridor($event)" class="list">
  </app-corridor-list>
</div>
