<div class="wrapper mx-auto">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="sticky-top" scope="col">#</th>
      <th class="sticky-top" scope="col">ID obszaru</th>
      <th class="sticky-top" scope="col">Typ</th>
      <th class="sticky-top" scope="col"></th>
      <th class="sticky-top" scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let polygon of polygons;let i = index;">
    <tr *ngFor="let polygon of polygons;let i = index;">
      <th scope="row">{{++i}}</th>
      <td>>{{polygon.id.toString().substring(12,24)}}</td>
      <td>>{{polygon.type.name}}</td>
      <td>
        <button class="btn btn-primary btn-sm"
                (click)="editPolygon(polygon)">
          Edit
        </button>
      </td>
      <td>
        <button class="btn btn-primary btn-sm"
                (click)="delete(polygon)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!--<app-confirm-modal-template [modalID]="modalID+'Confirm'"
                            (onConfirm)="deletePolygon(selectedPolygon)"></app-confirm-modal-template>-->

