<form class="text-center border border-light p-5 register-form">
  <p class="h4 mb-4">Dodaj zadanie</p>
  <div class="card container">
  <div class="md-form">
    <input type="text" class="form-control"
           [(ngModel)]="robotTask.name"
           name="robotTask"
           placeholder="Nazwij zadanie">
  </div>

    <p>Wybierz działanie</p>
    <div class="md-form">
      <select class="browser-default custom-select" (change)="selectBehaviour($event.target.value)"
              [(ngModel)]="selectedBehaviour"
              [ngModelOptions]="{standalone: true}">
        <option [value]="item.id" *ngFor="let item of behaviours">{{item.name}} {{item.parameters}}</option>
      </select>
    </div>

    <p>Wybierz priorytet zadania</p>
    <div class="md-form">
      <select class="browser-default custom-select" (change)="selectTaskPriority($event.target.value)"
              [(ngModel)]="selectedTaskPriority"
              [ngModelOptions]="{standalone: true}">
        <option [value]="item.id" *ngFor="let item of taskPriorities">{{item.name}}</option>
      </select>
    </div>
    <button class="btn btn-info btn-rounded btn-sm my-0" (click)="saveRobotTask()">Dodaj zadanie</button>
  </div>

</form>

