<app-form-modal-template [modalName]="'Edycja zachowania'" [modalID]="modalID"
    [disableSubmit]="!modalForm.form.valid" (onModalCancel)="reset()" (onModalClose)="update()">
    <!-- <form class="md-form mb-5" #modalForm="ngForm">
        <div class="md-form">
            <i class="fas fa-file-signature prefix grey-text"></i>
            <input type="text" id="behaviourName" class="form-control validate" required [(ngModel)]="behaviour.name"
                name="name">
            <label for="behaviourName" [class.active]="behaviour.name && behaviour.name.length > 0">Nazwa
                zachowania</label>
        </div>
        <div class="md-form">
            <i class="fas fa-file-signature prefix grey-text"></i>
            <input type="text" id="behaviourParameters" class="form-control validate" required
                [(ngModel)]="behaviour.parameters" name="parameters">
            <label for="behaviourParameters"
                [class.active]="behaviour.parameters && behaviour.parameters.length > 0">Parametry
                zachowania</label>
        </div>
    </form> -->
    TEST
</app-form-modal-template>