<div class="card-header">Model</div>
<table class="table">
  <tbody>
  <tr>
    <th scope="row">Nazwa modelu</th>
    <td>{{model.name}}</td>
  </tr>
  <tr>
    <th scope="row">Maksymalna ładowność</th>
    <td>{{model.maxLiftingCapacity}}</td>
  </tr>
  <tr>
    <th scope="row">Maksymalna prędkość</th>
    <td>{{model.maxVelocity}}</td>
  </tr>
  <tr>
    <th scope="row">Długość</th>
    <td>{{model.length}}</td>
  </tr>
  <tr>
    <th scope="row">Szerokosść</th>
    <td>{{model.width}}</td>
  </tr>
  <tr>
    <th scope="row">Wysokość</th>
    <td>{{model.height}}</td>
  </tr>
  <tr>
    <th scope="row">Typ napędu</th>
    <td>{{model.propulsionType.name}}</td>
  </tr>
  <tr>
    <th scope="row">Typ baterii</th>
    <td>{{model.batteryType.name}}</td>
  </tr>
  <tr>
    <th scope="row">Pojemność</th>
    <td>{{model.batteryType.capacity}} mAh</td>
  </tr>
  <tr>
    <th scope="row">Maksymalne napięcie baterii</th>
    <td>{{model.batteryType.maxCurrent}} V</td>
  </tr>
  </tbody>
</table>
