<!--Accordion wrapper-->
<div class="accordion md-accordion sideBar card" id="sideBarContainer">
  <!-- Accordion group -->
  <div class="accordion-group">

    <!-- Card header -->
    <div class="card-header grey z-depth-2" role="tab" id="headingTwo1">
      <a class="collapsed text-uppercase mb-0 py-1" data-toggle="collapse" data-target="#collapseTwo1">
        <h5 class="mb-0 white-text font-weight-bold">
          Zadania
          <i class="fa fa-angle-down" style="float: right;" aria-controls="collapseTwo2"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1">
      TODO
    </div>

  </div>
  <!-- Accordion group -->

  <!-- Accordion group -->
  <div class="accordion-group">

    <!-- Card header -->
    <div class="card-header grey z-depth-2" role="tab" id="headingTwo2">
      <a class="collapsed text-uppercase mb-0 py-1" data-toggle="collapse" data-target="#collapseTwo2">
        <h5 class="mb-0 white-text font-weight-bold">
          Roboty<i class="fa fa-angle-down rotate-icon" style="float: right;"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2">
      <div *ngFor="let robot of robots">
        <div class="card-header clickable">
          {{robot.robotIP}}
        </div>
      </div>
    </div>
  </div>
  <!-- Accordion group -->
</div>
<!-- Accordion wrapper -->
