<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark grey">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="http://www.aret.com.pl/"><img src="assets/images/logo.png" alt="image"></a>
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="authService.userLoggedIn()">
        <a class="nav-link" [routerLink]="['']">
          <i class="fas fa-home"></i>
          Strona główna
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.userLoggedIn()">
        <div *ngIf="authService.isAdmin()">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false"> <i class="fas fa-cogs"></i>Zarządzaj</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['graphcreator']">Dodaj graf</a>
          <a class="dropdown-item" [routerLink]="['mapupload']">Dodaj mapę</a>
          <a class="dropdown-item" [routerLink]="['polygons']">Dodaj obszar</a>
          <a class="dropdown-item" [routerLink]="['movementPaths']">Dodaj ścieżkę</a>
          <a class="dropdown-item" [routerLink]="['corridors']">Dodaj korytarz</a>
          <a class="dropdown-item" [routerLink]="['stands']">Dodaj stanowisko</a>
        </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="authService.userLoggedIn()">
        <div *ngIf="authService.isAdmin()">
        <a class="nav-link" [routerLink]="['adminpanel']">
          <i class="fas fa-home"></i>
          Panel administracyjny
          <span class="sr-only">(current)</span>
        </a>
        </div>
      </li>

      <li class="nav-item" *ngIf="authService.userLoggedIn()">
        <div *ngIf="authService.isAdmin() || authService.isSuperUser()">
          <a class="nav-link" [routerLink]="['users']">
            <i class="fas fa-users"></i>
            Użytkownicy
            <span class="sr-only">(current)</span>
          </a>
        </div>
      </li>

      <li class="nav-item" *ngIf="authService.userLoggedIn()">
        <div *ngIf="authService.isAdmin() || authService.isServiceman() || authService.isRegularUser() || authService.isSuperUser()">
        <a class="nav-link" [routerLink]="['task-creator-panel']">
          <i class="fas fa-tasks"></i>
          Panel zadań
          <span class="sr-only">(current)</span>
        </a>
        </div>
      </li>
      <li class="nav-item" *ngIf="authService.userLoggedIn()">
        <div *ngIf="authService.isAdmin() || authService.isServiceman()">
          <a class="nav-link" [routerLink]="['robots']">
            <i class="fas fa-tasks"></i>
            Zarzdzanie robotami
            <span class="sr-only">(current)</span>
          </a>
        </div>
      </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!authService.userLoggedIn()">
        <a class="nav-link" [routerLink]="['login']" style="display: flex;">Zaloguj &nbsp; <i class="material-icons">exit_to_app</i></a>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="authService.userLoggedIn()">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']" style="display: flex;" (click)=authService.logOut()>Wyloguj &nbsp; <i class="material-icons">power_settings_new</i></a>
      </li>
    </ul>
  </div>
  <!-- Collapsible content -->
</nav>
<div class="main">
  <app-sidebar class="sidebar" *ngIf="authService.userLoggedIn()"></app-sidebar>
  <!--/.Navbar-->
  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
