.navbar-nav {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #a03337;
  text-transform: uppercase;
  font-weight: 400;
}

.navbar a{
  color: #a03337 !important;
}

.navbar {
  padding-left: 5rem;
  background: white !important;
}

.navbar-collapse {
  padding-left: 7rem;
}
.nav-item{
  padding-right: 1rem;
}
html,body{
  height:100%;
}

.wrapper{
  position: absolute;
  margin: 20px;
  display: inline
}


