<!--Accordion wrapper-->
<div id="accordionParent" role="tablist" aria-multiselectable="true">
  <app-collapsetemplate [name]="'Typy obszarów'" [templateID]="'collapseAreaTypes'">
    <app-area-types></app-area-types>
  </app-collapsetemplate>
  <app-collapsetemplate [name]="'Typy baterii'" [templateID]="'collapseBatteryType'">
    <app-battery-types></app-battery-types>
  </app-collapsetemplate>
  <app-collapsetemplate [name]="'Typy napędu'" [templateID]="'collapsePropulsionType'">
    <app-propulsion-types></app-propulsion-types>
  </app-collapsetemplate>
</div>
<!--/.Accordion wrapper-->
