.sideBar{
  position: relative;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: stretch;
}
.card-header{
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-radius: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background: #a03337;
}
.card-item{
  background: white;
}

.card-item:hover {
  box-shadow: 0 8px 24px 0 rgba(255, 144, 144, 1);
}

.card-header h5{
  font-size: 1.1rem;
  font-weight: 400 !important;
}
.card{
  border-radius: 0;
}
.clickable{
  cursor: pointer;
}

.rotate-icon{
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.rotate-icon.down{
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.material-icons{
  vertical-align: sub;
}
.warning {
  color: red;
}
.arrow{
  float: right;
}
