.table {
  width: 100%;
  margin-top: 2rem;
}

h1 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  margin: 0;
  resize: horizontal;
  font-size: 15px;
}

.card-header {
  text-align: center;
  font-size: 1.5rem;
}

.w-75 {
  text-align: center;
  font-size: 1.5rem;
}

.refresh {
  align-self: right !important;
}

.battery {
  display: inline-block;
  border: 3px solid #333;
  width: 18px;
  height: 28px;
  padding: 2px;
  border-radius: 4px;
  position: relative;
  margin: -4px 0 0 15px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.battery::before {
  content: '';
  height: 3px;
  width: 8px;
  background: #333;
  display: block;
  position: absolute;
  top: -6px;
  border-radius: 4px 4px 0 0;
}

.battery::after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.battery-level {
  background: #30b455;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  transition: height 1s, background-color 1s;
}

.battery-level.error {
  background: #e81309;
}

.battery-level.warn {
  background: #EF8F13;
}

.battery-level::before {
  background-repeat: no-repeat;
  background-size: 18px;
  height: 18px;
  width: 18px;
  margin: -25px 0 0 2px;
  content: '';
  display: inline-block;
  position: absolute;
}

th {
  width: 50%;
}