@import url("../../map/map.component.css");
.switch {
  width: 14rem;
}

.btn-save {
  margin: auto;
  margin-bottom: 3rem;
}

.inline-container {
  display: flex;
}

.map {
  display: inline-block;
}

.list {
  display: inline-block;
  padding-left: 1rem;
}

.md-form {
  width: 33%;
}

.row {
  margin: 0;
}

.mat-form-field {
  width: 98%;
}

.map-container {
  padding: 0;
}

.card-header {
  text-align: center;
  font-size: 1.5rem;
}