<div class="btn-group btn-group-toggle switch-container" data-toggle="buttons">
  <label class="btn btn-light form-check-label active switch" (click)="drawMovementPath = true">
    <input class="form-check-input" type="radio">
    <i class="fas fa-crosshairs"></i>
    Rysuj
  </label>
</div>
<button type="button" class="btn btn-light switch-container" (click)="cancelMovementPath()"><i class="far fa-window-close"></i>   Anuluj</button>
<button type="button" class="btn btn-light switch-container" (click)="saveMovementPath()"><i class="far fa-save"></i>Zapisz</button>

<div class="map-container">
  <div class="map-frame">
    <div class="lds-dual-ring" [hidden]="dataLoaded"></div>
    <div id="map"></div>
  </div>
</div>
