<table class="table">
  <thead>
  </thead>
  <tbody>
  <tr>
    <th scope="row">ID</th>
    <td>{{task.id}}</td>
  </tr>
  <tr>
    <th scope="row">Start Time</th>
    <td>{{task.startTime}}</td>
  </tr>
  <tr>
    <th scope="row">Status zadania</th>
    <td>{{task.status}}</td>
  </tr>
  <tr>
    <th scope="row">Dodane przez</th>
    <td>{{task.userID}}</td>
  </tr>
  <tr ><!--*ngIf="task.behaviours.length>0"-->
    <th scope="row" >Szczegóły zadania</th>
    <h1><td *ngFor="let item of task.behaviours">{{item.name}}</td></h1>
  </tr>
  </tbody>
</table>

<div class="md-form" *ngIf="checkAccess()">
  <select class="browser-default custom-select" (change)="selectRobot($event.target.value)"
          [(ngModel)]="selectedRobot"
          [ngModelOptions]="{standalone: true}">
    <option [value]="item.id" *ngFor="let item of robots">{{item.id}}</option>
  </select>
</div>
