@import url("../map.component.css");

.switch{
  width: 14rem;
}

.switch-container{
  margin-bottom: 10px;
}

.inline-container{
  display: flex;
}

.map{
  display: inline-block;
}
.list{
  display: inline-block;
  padding-left: 1rem;
  padding-top: 3.9rem;
}
.map-container {
  padding: 0;
  width: 800px;
  height: 800px;
}
