name: Build
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v1    

      - name: Node 12.16.2
        uses: actions/setup-node@v1
        with:
          node-version: '12.16.2'

      - name: npm install and npm run build
        run: |
          npm ci
          npm run build:ci
