<div class="task-creator-container">

    <div class="task-creator-title">
        <h4>Task Creator - <strong>Task 1</strong></h4>
    </div>

    <div>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

            <div class="example-box" *ngFor="let behaviour of behaviours" cdkDrag>

                <div>
                    <app-task-behaviour title={{behaviour}}></app-task-behaviour>
                </div>
                            
            </div>

        </div>
    </div>

</div>