.task-creator-container {
  width: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.input-paragraph {
  margin-top: 1.5rem;
  margin-bottom: -1rem;
}

.behaviour-container {
  overflow: hidden;
  display: flex;
}
.behaviour-list {
  width: 40vw;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden !important;
  padding: 5px;
}
.behaviour-list:nth-child(1) {
  margin-right: 1rem;
}
.behaviour-list:nth-child(2) {
  margin-left: 1rem;
}
.behaviour-list h2 {
  padding-left: 5px;
}
.behaviour-box {
  margin: 15px 5px;
  padding: 5px 0px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: move;
  border-radius: .25rem;
}

.behaviour {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.behaviour-general {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.behaviour div:nth-child(1) {
  padding: 0.5rem 0;
}
.behaviour div:nth-child(1) p {
  padding: 0;
  margin: 0 !important;
}
.behaviour-details {
  width: 100%;
}
.behaviour-details p {
  font-size: 0.7rem;
  margin: 0.5rem 0 0 0;
  padding: 0;
  word-wrap: break-word;
}